[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstrument = "*"
ipdb = "*"

[packages]
numpy = "*"
keras = "*"
tensorflow-cpu = "*"
opencv-python = "*"
click = "*"

[requires]
python_version = "3.7"
